.wrapper {
  padding-left: 5rem;
  padding-right: 5rem;
}

.sectionTitle {
  font-size: xx-large;
  padding-bottom: 2rem;
}
.heroImg {
  object-fit: cover;
  overflow: hidden;
}

.heroImg img {
  width: 25%;
  border-radius: 50%;
  border-color: black;
  border: 5px solid #555;
}

.bio {
  font-size: var(--f-u1);
  line-height: 2;
  margin-top: 4em;
  align-items: center;
}

@font-face {
    font-family: Typhoon;
    src: url("../Font.otf") format("opentype");
}

.intro {
    
    
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  font-size: calc(30px + 2vmin);
  color: white;

}

.introTitle {
    top: 20%;
}

.myName {
  color: #fff;
  font-family: monospace;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typewriter 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: white }
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: white; }
}
  .introSubtitle {
font-size: 30px;
  
}


.introImg {

  bottom: 35%;
  position: absolute;
  -webkit-animation: linear infinite;
  -webkit-animation-name: run;
  -webkit-animation-duration: 10s;
}

@keyframes run {
  0% {
    left: 0;
  }

  48% {
    -webkit-transform: rotateY(0deg);
  }

  50% {
    left: calc(100% - 100px);
    -webkit-transform: rotateY(180deg);
  }

  98% {
    -webkit-transform: rotateY(180deg);
  }

  100% {
    left: 0;
    -webkit-transform: rotateY(0deg);
  }

}
 .introButton {
    position:fixed;
    background-color: transparent;
    color: white;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-color:transparent;

bottom:5%;
font-size: 50px;

  }
  .introButton:hover{
    color: transparent;
    cursor: pointer;
  }

