.Nav {
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: 1rem;
}

.link {
    color: var(--t-subdue);
    display: block;
    text-decoration: none;
    font-size: var(--f-d1);
    text-transform: uppercase;
    padding-top: 0.75em;
    padding-bottom: 0.75em;
}

.link:hover {
    color: #90aab7
}
.link:focus {
    color: #90aab7;
}

.monogram {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2em;
    height: 2em;
    margin-right: 0.5rem;
    color: black;
    font-weight: 900;
    letter-spacing: -0.125rem;
    border: 3px solid currentColor;
    border-radius: 50%;
}

.socials {
    display: flex;
    gap: 0.75em;
    margin-left: auto;
}

.socials:hover{
    color: grey;
}



