.App {
  text-align: center;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #90aab7;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
    position: relative;
      overflow: hidden;
}

@media (min-width: 750px) {
  .App-header {
    height: 45vw;
  }
}

.App-link {
  color: #61dafb;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: top;
  padding-left: 2rem;
  padding-top: 2rem;
}

@media (min-width: 750px) {
  .overlay {
    padding-left: 4rem;
  }
}

.title {
  color: black;
  font-weight: 900;
  font-size: 200%;
  margin-bottom: 0.5rem;
  margin-top: 0;
}


.invert {
  position: absolute;
  color: var(--t-fg);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  clip-path: polygon(0% 100%, 100% 100%, 100% 200%, 0% 200%);
  transition: clip-path cubic-bezier(0.4, 0, 0.5, 1) 150ms;
}

.desc {
  font-size: var(--f-u1);
  margin-top: 1.5rem;
  margin-bottom: 0;
}

.subtitle {
  display: block;
  font-weight: 400;
  font-size: var(--f-d6);
  letter-spacing: -0.0625em;
}

.App-main {
  margin-top: 4em;
  margin-bottom: 2em;
}

.section {
  margin-top: 4em;
  margin-bottom: 2em;
}